{"filter":false,"title":"phpunit.xml","tooltip":"/fuzzy-telegram/phpunit.xml","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1573438425782,"hash":"31d22d56fed374ee04c5b1e0a28015de575bc0ea"}